@font-face{
    font-family: 'Lucida-Sans-Italic';
    src: url('assets/fonts/Lucida-Sans-Italic.ttf') format("truetype");

}

@font-face{
    font-family: 'SegoeWP';
    src: url("assets/fonts/segoe-wp/SegoeWP.ttf") format("truetype");
}

@font-face{
    font-family: 'segoe-wp-light';
    src: url("assets/fonts/segoe-wp/segoe-wp-light.ttf") format("truetype");
}

@font-face{
    font-family: 'Asap-Regular';
    src: url("assets/fonts/Asap-Regular.ttf") format("truetype");
    font-weight: 300;
}

@font-face{
    font-family: 'PT-Sans-regular';
    src: url("assets/fonts/PT-Sans-regular.ttf") format("truetype");
}

@font-face{
    font-family: 'OpenSans-Regular';
    src: url("assets/fonts/OpenSans-Regular.ttf") format("truetype");
}



body{
    margin: 0;
    color: #fff;  
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}


.container{
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

/*logo*/
.logo,
.logo--footer{
    display: flex;
    align-items: center;
}
  
.logo__text{
    font-family: 'Lucida-Sans-Italic';
    font-size: 41px;
    text-transform: uppercase;

    margin-left: 10px;
}

.logo--footer .logo__img{
    width: 55px;
    height: auto; 
}

.logo--footer .logo__text {
    font-size: 29px;
}

/*header*/
.header{
    width: 100%;
    height: 87px;
    margin-top: 28px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

/*nav*/
.nav{
    background-color: #f5c506;

    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;

    box-shadow: -4px -5px 0 0 rgba(185, 164, 55, .27),
            -8px -8px 0 0 rgba(152, 142, 52, .27);
}


.nav__link{
    display: inline-block;

    font-family: 'SegoeWP';
    font-size: 17px;
    color: #9b7d08;
    text-decoration: none;
    text-transform: uppercase;

    padding: 11px 18px 11px 14px;
    border-right: 1px solid #dcb105;
}

.nav__link:first-child{
    padding-left: 39px;
    padding-right: 23px; 
}

.nav__link:last-child{
    border-right: 0;

    padding-left: 17px;
    padding-right: 22px;
}

.nav__link i {
    margin-right: 9px;
}

/*intro*/
.intro{
    height: 565px;
    padding-top: 115px;

    background: #31344e url("assets/img/bg-intro.jpg") center no-repeat / cover;
}

.intro__inner{
    display: flex;
    padding-top: 55px;
}

.intro__col{
    flex: 1 1 0;  
}

.intro__video{
    position: relative;
}

.intro__title{
    font-family: 'Asap-Regular';
    font-size: 63px;
    font-weight: 300;
    color: #fff;

    text-transform: uppercase;
    text-align: center;

    padding-top: 94px;
    margin: 0 auto;
}

.intro__title span{
    width: 100%;
    display: inline-block;
    color: #f5c506;
}

/*controls*/
.controls{
    position: absolute;
    top: 30%;
    left: 43%;
    z-index: 5;
}

.play,
.play--panel{
    width: 68px;
    height: 68px;

    background-color: rgba(226, 208, 65, 0.72);
    border-radius: 50%;

    position: relative;
}

.play--panel{
    width: 27px;
    height: 27px;
    border-radius: 0px;
}

.play-triangle{
    position: absolute;
    top: 25%;
    left: 40%;
    z-index: 10;

    width: 0; 
    height: 0;
    border-top: 17px solid transparent;
    border-left: 19px solid #f5f4f2;
    border-bottom: 17px solid transparent;
}

.play--panel .play-triangle{
    top: 23%;
    left: 34%;
    border-top: 9px solid transparent;
    border-left: 11px solid #f5f4f2;
    border-bottom: 9px solid transparent;
}


.cont-panel__inner{
    position: absolute;
    bottom: 23px;
    left: 29px;
    z-index: 10;

}

.cont-panel{
    position: relative;
    
    width: 505px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.track{
    height: 17px;
    width: 405px;
    border-top: 17px solid rgba(226, 208, 65, 0.62);
    z-index: 15;
}

.track::before{
    content: "";
    display: block;
    width: 35%;
    height: 17px;

    background-color: #ec9e03;
    border-radius: 0 10px 10px 0;

    position: absolute;
    top: 5px;
    left: 56px;
    z-index: 15;
}

.cont-panel i {
    color: #f5c506;
}


/*feature*/

.feature{
    width: 100%;
    height: 215px;

    box-shadow: 0 0 8px 0 #000; 
    background-color: #f5f5f5;  
}

.feature__inner{
    display: flex;
    align-items: flex-end;   
}

.feature__item{
    flex: 1 1 0;
    margin-top: 38px;
}

.feature__item img{
    display: block;
    margin: 0 auto;
}

.feature__item p {  
    font-family: 'segoe-wp-light';  
    font-size: 27px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

/*blog*/
.blog{
    width: 100%;
    height: 512px;

    background: url("assets/img/bg-info.jpg") center no-repeat / cover;
}

.blog__inner{
    height: 512px;
    position: relative;
}

.blog__title{
    padding-top: 43px;
    padding-bottom: 43px;

    font-family: 'PT-Sans-regular';
    font-weight: 300;
    font-size: 37px;
    color: #fff;
    text-transform: uppercase;
}

.blog__item{
    width: 100%;
    height: 233px;

    display: flex;
    justify-content: space-between;

}

.blog__content{
    width: 655px;
    display: flex;
}

.blog__info{
    display: block;
    width: 52%;

    font-family: 'segoe-wp-light';
    font-size: 29px;
    color: #fff;
    line-height: 1.3;

    background-color: #ec9e03;
    padding: 25px 37px 32px 30px;
    margin: 0;
    position: relative;
}

.blog__date{
    height: 86px;
    width: auto;
    padding: 0px 27px;
    background-color: #ddb101;

    font-family: 'SegoeWP';
    font-weight: 300;
    font-size: 21px;
    color: #b26529;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    bottom: -86px;
    left: 0;
    z-index: 1;
}

.blog__date-day{
    height: 54px;
    width: auto;

    font-family: 'SegoeWP';
    font-weight: 700;
    font-size: 51px;
    color: #fff;

    vertical-align: top;
    margin-bottom: 3px;
}

.blog__add{
    position: absolute;
    bottom: 13px;
    right: 16px;
    z-index: 1;
}

.plus{
    font-size: 0;
    color: transparent;

    background-color: #fff;
    width: 3px;
    height: 11px;

    position: relative;
    left: 4px;
}

.blog__social{
    width: 32%;
    background-color: #ec9e03;
    position: relative;
}

.blog__num{
    font-family: 'segoe-wp-light';
    font-weight: 300;
    font-size: 25px;
    color: #fff;

    text-align: right;
    padding: 20px 20px 0;
    margin: 0;    
}

.blog__icon{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    color: #c18000;


    font-size: 170px;

}
.blog__icon i{
    text-align: center;
}



.plus::after{
    content: "";
    height: 3px; 
    width: 11px;
    background: #fff;
    position: absolute; 
    left: -4px; 
    top: 4px;
}


/*slider*/
.slider{
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 1;
}

.slider__item{
    width: 88%;
    margin: 0 auto; 
    position: relative;

    border-top: 15px solid rgba(250, 226, 132, 0.82);
    border-radius: 10px;
}

.slider__item::before{
    content: "";
    display: block;
    width: 22%;
    height: 15px;

    background-color: #ec9e03;
    border-radius: 10px;

    position: absolute;
    top: -15px;
    left: 240px;
    z-index: 1;
}

/*info*/
.info{
    width: 100%;
    height: 497px;
    background-color: #4c4c4c;
}

.info__title{
    padding-top: 49px;
    padding-bottom: 55px;

    font-family: 'PT-Sans-regular';
    font-weight: 300;
    font-size: 43px;
    color: #f5c506;
    text-transform: uppercase;
    text-align: center; 
}

.info__section{
    display: flex;
    justify-content: space-between;
}

.info__text{
    width: 415px;
}

.info__point{
    list-style: none;
    position: relative;

    font-family: 'OpenSans-Regular';
    font-weight: 300;
    color: #a9a9a7;
    font-size: 22px; 
    padding-bottom: 30px; 
}

.info__point:last-child{
    padding-bottom: 0;
}

.info__point::before{
    content: "";
    display: inline-block;
    margin-right: 19px;
    width: 16px;
    height: 16px;
    background-color: #f5c506;
    border-radius: 50%;

    position: absolute;
    top: 8px;
    left: -32px;
    z-index: 1;
}

/*devices*/
.devices{
    width: 551px;
    height: 221px;
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.devices__item{
    margin-left: 23px;
    margin-right: 23px; 
}

.devices__item:last-child{
    margin: 0;
}


.devices__item--laptop{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/*discount*/
.discount{
    width: 120px;
    height: 120px;
    background-color: #f5c506;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'PT-Sans-regular';
    font-weight: 700;
    font-size: 18px;

    position: absolute;
    top: -40px;
    left: -28px;
    z-index: 1;
}

/*footer*/
.footer{
    width: 100%;
    height: 65px;

    background-color: #4c4c4c;
    box-shadow: 0 0 8px 0 #000; 

    display: flex;
    flex-direction: column;
    justify-content: center;
}